*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    /* --primary-color */
    --bright-red : hsl(12,88%,59%);
    --Dark-Blue: hsl(228, 39%, 23%);

    /* neutral colors */
   --Dark-Grayish-Blue: hsl(227, 12%, 61%);
    --Very-Dark-Blue: hsl(233, 12%, 13%);
    --Very-Pale-Red: hsl(13, 100%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);

    /* font sizes */
    --Font-size: 16px;

    /* font weight */
    --weight1:400;
    --weight2:500;
    --weight3:700;
}

nav{
    /* border:3px solid black ; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 70px 100px;
}

.listing{
    /* border: 3px solid green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}

#get-started{
    background-color: var(--bright-red);
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
}

#one{
    /* border: 3px solid black; */
    margin: 40px 70px 100px;
    /* font-size:larger ; */
    /* font-weight: 1000; */
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.IMG{
    /* float: right; */
    width:100%;
    /* height: 25%; */
    object-fit: cover;
}

.IMG img{
    width: 500px;
    object-fit: cover;
}

#button{
    background-color: var(--bright-red);
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
}

.testimonials{
    /* border: 3px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px 70px 100px;
    padding: 15px;
    gap: 20px;
}

.testimonials div anisha h1{
    align-items: end;
    /* gap: 20px; */
   display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.testimonials button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testmonials-header{
    font-weight: var(--weight3);
    font-size: 30px;
    color: var(--Dark-Blue);
}

#started{
    background-color: var(--bright-red);
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
}

.head{
    /* border: 3px solid black; */
    background-color: var(--bright-red);
    justify-content: space-between;
    padding: 50px;
    color: var(--Very-Light-Gray);
    display: flex;
    flex-direction: row;
    
}

.head h1{
    font-size: 50px;
    color: var(--Very-Light-Gray);
    font-weight: var(--weight3);
}

.head button{
    font-size: var(--Font-size);
    color: var(--bright-red);
    /* font-weight: var(--weight1); */
    border-radius: 50px;
    background-color: white;
    padding: 10px 20px;
    border: none;

}

/* .Get{
    background-color: var(--Very-Light-Gray);
} */

.text-one{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 20px;
    width: 100%;
}

.text-one h1{
    font-size: 50px;
    color: var(--Dark-Blue);
    font-weight: var(--weight3);
    width: 100%;
}

.text-one p{
    font-size:16px;
    color: var(--Dark-Grayish-Blue);
    font-weight: var(--weight1);
    width: 100%;
}

#two{
    /* border: 3px solid black; */
    margin: 40px 70px 100px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    padding: 15px;
}

.first-part, 
.second-part{
    width: 100%;
}

.first-part{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.first-part h1{
    color: var(--Dark-Blue);
    font-size: 40px;
    font-weight: var(--weight3);
}

.first-part p{
    font-size:var(--Font-size);
    color: var(--Dark-Grayish-Blue);
}

.second-part{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.no-1, .no-2, .no-3{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
}

.no-1 div, .no-2 div, .no-3 div{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.color{
    background-color: var(--bright-red);
    border-radius: 15px;
    padding:4px 20px;
    color: white;
    font-size: var(--Font-size);
    
}

.no-1 div h3, .no-2 div h3, .no-3{
    color: var(--Dark-Blue);
    font-size:18px;
}

.no-1 div p, .no-2 div p, .no-3 div p{
    font-size: var(--Font-size);
    color: var(--Dark-Grayish-Blue);
}

